
.doc {
    margin-right: 20%;
    margin-left: 20%;
   
}

pre, code {
    white-space: pre-line;
}

pre {
    background-color: white;
}

.object {
    color: #16a085;

}

.method {
    color: rgb(255, 105, 97);
}

.special {
    color: purple;
}



body { /*Ensure it doesn't cross the sidebar*/
    right: 125px;
    background-color:Linen;
    font-family: Helvetica,Arial,sans-serif;
    margin-bottom: 200px;
}

h1 {
    color: #16a085;
    display: inline;


    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    border: 2px solid black;

    
}


h3 {
    color: rgb(255, 105, 97);
    font-size: 1.5em;
    font-weight: bold;
}


.examplesButton {
    height: 50px;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    border: 2px solid black;
    color: #16a085;
    font-size: 16px;
    width: 110px;
    text-align: center;

    
}

.links {
    margin-top: 50px;
    display: flex;
  
    
}
.example {
    color: #16a085;
}

.Behaviours {

    list-style-position: inside;
    padding-left: 0px;
    padding-bottom: 15px;
   
}



.behaviors li {
    padding-bottom: 15px;
    text-decoration: no underline;

}

.section {
    text-decoration:underline;
    
}

